/*全局样式*/
body{
	background: #000;
	margin: 0;
	padding: 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	background: #dedede;
}
/*头部导航栏的样式*/
.header{
	background: #333;
	height: 60px;
}
.header img{
	float: left;
	height: 60px;
}

.header ul{
	float: right;
}

.header ul li{
	float: left;
}
.header ul li a{
	text-decoration: none;
	margin-right: 20px;
	color: white;
	font:14px "微软雅黑";

}
/*中间内容部分样式*/
.content{
	background: #dedede;
}
article{
	background: #FFFFFF;
	margin: 10px 20px;
	box-shadow: 2px 2px 2px #9f9f9f;
	padding: 20px;
	border: 1px solid #cbcbcb;
}
article h3{
	font: bold 20px "微软雅黑";
	color: #594e4c;
}
article span{
	font: bold 14px "微软雅黑";
	color: #899c96;
}
article p{
	font: 16px "微软雅黑";
	margin-top: 0px;
	line-height: 26px;
}
article .first_p{
	text-indent: 2em;
}
article img{
	width: 200px;
	height: 200px;
}
article ul li{
	list-style: none;
}
/*第三模块*/
.pic_title{
	font: bold 20px "微软雅黑";
	margin-top: 30px;
	margin-left: 10px;
}
.pics{
	margin-left: 30px;
	margin-top: 20px;
}
.img{
	width: 200px;
	height: 230px;
	text-align: center;
	margin: 10px 0;
	border: 1px solid #ccc;
}
.img p{
	margin: 10px auto;
	font: 16px "微软雅黑";
	
}
.img img{
	margin: 10px auto;
	max-height: 160px;
	max-width: 160px;
}
/*第四模块*/
.biaoge{
	width: 100%;
}
.title{
	background-color:#333;
	color: #fff;
}
.tfoot{
	background-color: #ccc;
}
/*侧栏部分样式*/
aside{
	background: #fff;
	margin: 10px 20px;
	padding: 20px;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 2px #646464;
}
.aside_title{
	border-left: 5px solid #ccc;
	padding-left: 20px;
	font: bold 16px "微软雅黑";
}
.form_content{
	margin-left: 300px;
}
form p{
	
	margin-top: 10px;
	font: 14px "微软雅黑";
}
form input{
	margin-left: 20px;
}
.des_email{
	margin-left: 120px;
	color: #ccc;
}
.second{
	margin-left: 28px;
}
.des_pwd{
	margin-left: 120px;
	color: #ccc;
}
.submit{
	width: 100%;
	height: 40px;
	background-color: blue;
	color: #fff;
	border-radius: 10px;
	/*margin-top: 10px;
	margin-right: 40px;*/
	margin: 10px auto;
}
/*footer样式*/
.footer{
	background: #000;
	text-align: center;
	font: 12px "微软雅黑";
	color: #fff;
	padding-top: 10px;
	height: 30px;
	line-height: 30px;
}
