*{
	margin: 0;
	padding: 0;
}

/*container样式*/
.container{
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	/*overflow很重要！千万不要漏点这一点！*/
	overflow: auto;
}

/*左边布局*/
.left{
	padding: 20px;
	width: 180px;
	height: 80px;
	float: left;
	background-color: #fff;
	border: 1px solid #999;
}

.logo{
	float: left;
}

.logo img{
	width: 80px;
	height: 80px;
	border: 1px solid #999;
}

.logo_name{
	float: right;
}

/*右边一栏的样式*/
.right{
	width: 80px;
	padding: 0px 20px 20px 20px;
	float: right;
	background-color: #fff;
	border: 1px solid #999;
}
.per_logo{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	border: 1px solid #999;
}

.per_logo img{
	width: 80px;
	height: 80px;
}

/*中间部分*/
.content{
	padding: 20px;
	margin-left: 240px;
	margin-right: 140px;
	background-color: #fff;
	border: 1px solid #999;
}

.content p{
	
	font: 14px "微软雅黑";
}
